.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.place__link:hover {
  opacity: 0.8;
}
